* {
    box-sizing: border-box;
}
#outcome{
    position: absolute;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#outcomeText{
}

.container {
    position: relative;
    display: inline-block;
}

.top-ui {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#playerHealth {
    position: absolute;
    background-color: #9FADE8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border:4px solid whitesmoke;
}

.hBackground {
    background-color: darkred;
    width: 100%;

}

#timer {
    color: white;
    background-color: gray;
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hContainer {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#enemyHealth {
    position: absolute;
    background-color: #9FADE8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border:4px solid whitesmoke;

}